workflows/RecebAI - 4. Confirmar Retirada(1).json
{
  "name": "RecebAI - 4. Confirmar Retirada",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recebai/encomendas/retirar",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "983d104b-5cee-4834-b379-f86e21bcc306",
      "name": "POST /recebai/encomendas/retirar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "c2aa84d2-7c6f-481b-af48-db76c4833a8d"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1S0PaEIVJ7fbjzipFDXFoFrtmrxxuem1IA3VMk7BL73c",
          "mode": "list",
          "cachedResultName": "RecebAI - Encomendas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S0PaEIVJ7fbjzipFDXFoFrtmrxxuem1IA3VMk7BL73c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 538604356,
          "mode": "list",
          "cachedResultName": "RecebAI - Encomendas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S0PaEIVJ7fbjzipFDXFoFrtmrxxuem1IA3VMk7BL73c/edit#gid=538604356"
        },
        "options": {}
      },
      "id": "745c58eb-ae0c-4b22-b7f5-bff4cdb49cae",
      "name": "Get All Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        240,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JW4gcQxxS5nT3Yg5",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('POST /recebai/encomendas/retirar').first().json.body;\nconst targetId = body.id;\nconst retiradaPor = body.retirada_por;\nconst rows = $input.all();\nconst rowIndex = rows.findIndex(r => r.json.id === targetId);\nif (rowIndex === -1) throw new Error('Encomenda não encontrada: ' + targetId);\nconst row = rows[rowIndex].json;\nreturn [{\n  json: {\n    ...row,\n    status: 'retirado',\n    retirada_at: new Date().toISOString(),\n    retirada_por: retiradaPor,\n    _rowNumber: rowIndex + 2\n  }\n}];"
      },
      "id": "40a95fc6-012b-40af-ba93-ce5ba98a7f09",
      "name": "Find Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1S0PaEIVJ7fbjzipFDXFoFrtmrxxuem1IA3VMk7BL73c",
          "mode": "list",
          "cachedResultName": "RecebAI - Encomendas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S0PaEIVJ7fbjzipFDXFoFrtmrxxuem1IA3VMk7BL73c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 538604356,
          "mode": "list",
          "cachedResultName": "RecebAI - Encomendas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S0PaEIVJ7fbjzipFDXFoFrtmrxxuem1IA3VMk7BL73c/edit#gid=538604356"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "tracking_code": "={{ $json.tracking_code }}",
            "destinatario_nome": "={{ $json.destinatario_nome }}",
            "destinatario_unidade": "={{ $json.destinatario_unidade }}",
            "transportadora": "={{ $json.transportadora }}",
            "status": "retirado",
            "created_at": "={{ $json.created_at }}",
            "retirada_at": "={{ $json.retirada_at }}",
            "retirada_por": "={{ $json.retirada_por }}",
            "row_number": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tracking_code",
              "displayName": "tracking_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "destinatario_nome",
              "displayName": "destinatario_nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "destinatario_unidade",
              "displayName": "destinatario_unidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "transportadora",
              "displayName": "transportadora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retirada_at",
              "displayName": "retirada_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retirada_por",
              "displayName": "retirada_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "61b5f370-3533-4956-ba38-a681f263f0dc",
      "name": "Update Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        720,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JW4gcQxxS5nT3Yg5",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "6deb2ca3-2cb4-40ee-ba6c-b2f0e294a038",
      "name": "Respond Updated",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "POST /recebai/encomendas/retirar": {
      "main": [
        [
          {
            "node": "Get All Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Rows": {
      "main": [
        [
          {
            "node": "Find Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Row": {
      "main": [
        [
          {
            "node": "Update Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Row": {
      "main": [
        [
          {
            "node": "Respond Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9bc8df04-4a9f-4e81-b74c-656ef708dbd1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf9dc3d102431748f164ce4c7940eff04280c1180b1f406274f5bb58e494fbcf"
  },
  "id": "aohJ1x1ILATDhqQs",
  "tags": []
}